
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:wght@300;400&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}
/* html{
    font-size: 62.5%;
    overflow-x: hidden;
} */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    /* background: #15434f; */
    align-items: center;
    z-index: 99;
    background-color:  #154c79;
}
.header img{
    width: 200px;
    height:auto;
}

.logo{
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
}
#menu-icon{
    font-size: 3.6rem;
    color: white;
    display: none;
}

.navbar a{
    position:  relative;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-weight: 500;
}
.navbar a::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
    /* margin-top: 5rem; */
}
.navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    /* background-color: black; */
}

body{
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* background:rgb(240, 11, 244); */
    /* background-position: center; */
    min-height: 100%;
    background-size: cover;
    background: #f5f3f0;
}
.home{
    margin-top: 88px;
    padding: 40px;  
    
}


/* .section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
} */
.home{
    display: flex;
    justify-content: center;
    align-items:  center;
    background: #154c79;
    font-family: "Trirong", serif;
    
}
.home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
    
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-content h1{
    font-size: 2.6rem;
    font-weight: 700;
    color: #ffff ;
    margin-bottom: 20px;
   

}
.home-content h3{
    font-size: 1rem;
    color: rgb(212, 210, 210);

}
.heading{
    margin-top: 25px;
    /* margin-bottom: 20px; */
    text-align: center;
    font-size: 3.2rem;
    color:#154c79;
    font-weight: 800;
    


}
.about-content p{
    padding: 20px 45px 25px 40px;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    font-weight: 500;



    
}

.about-content a{
        padding: 10px;
        width: 130px;
        height: 50px;
        background-color: transparent;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: #1a69a9 ;
        font-weight: 500;
        outline: none;
        margin-left: 40px;
        border: 2px solid  #0d5794;
        transition: 0.5s;
        margin-left: 45%;
        
        
}
.about-content a:hover{
    background:  #1a69a9;
    color: #ffff;
}

.services h2{
    margin-bottom: 3rem;
    margin-top: 3rem;
    
}
.services-container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px 30px ;
    /* flex-wrap: wrap; */
    /* gap: 2rem;  */
    padding: 0 20px 20px ;
   
    gap: 1.5rem;
    display: grid;
   grid-template-columns: repeat(4 , 1fr);
    
}

@media only screen and (max-width: 800px){
    .services-container
    {
        grid-template-columns: 1fr;
        gap: 1.3rem;
    }
}

.services-container .services-box{
    flex: 1 1 30rem;
    background-color:#154c79;
    padding: 3rem 2rem 4rem;
    text-align: center;
    border:.2rem;
    margin-bottom: 20px;
   color: white;
    border-radius: 20px;
    transition: .6s ease;

}
.services-container .services-box:hover{
    transform: scale(1.03);
    
}
/* .services-box i{
    font-size: 7rem;
    color: #3ae9f2;
} */
.services-box h3{
    font-size: 1.5rem;
    color: #3ae9f2;
}
.services-box p{
    font-size: 1rem;
    margin: 1rem 0 ;
   
}

.services-box a{
    padding: 10px;
    width: 130px;
    height: 50px;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #3ae9f2 ;
    font-weight: 500;
    outline: none;
    margin-left: 5px;
    border: 2px solid  #3ae9f2;
    transition: 0.5s;
    
    
    
    
}
.services-box a:hover{
background:  #090226;
color: #ffff;
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 2rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: black;   
    background-color:#cacbcc;
    border-radius: .8rem;
    margin: .7rem 0;

}
.btn{
    padding: 10px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color:#154c79 ;
    font-weight: 500;
    outline: none;
    margin-left: 5px;
    border: 2px solid #154c79;
    transition: 0.5s;
}
.btn:hover{
    background-color:#0d1f1f ;
    color: white;
}

.contact form .input-box input{
    width:49%;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
.footer{
    /* display:  flex;
    justify-content: center;
    align-items: center; */
    padding: 2rem ;
    background-color: #154c79;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}
.footer-text p{
    font-size: 1.2rem;
    color: whitesmoke;
}

.footer-top{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 30px ;
    /* flex-wrap: wrap; */
    gap: 2rem;
    color:  #02080e;
    padding: 3rem 5%;
    
}
.footer-links ul li a{
    color:black;
    
}
.footer-top h4{
    color: #154c79;
}
.social-links a{
    color: black;
}


/* 
.team-section h2{
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    
}
.team-container{
    
    padding: 0 20px 20px ;
   
    gap: 2.5rem;
    display: grid;
   grid-template-columns: repeat(2 , 1fr);
}

@media only screen and (max-width: 800px){
    .team-container
    {
        grid-template-columns: 1fr;
        gap: 1.3rem;
    }
}
.team-container .team-box{
    flex: 1 1 30rem;
    background-color:#1c2528;
    padding: 1rem 1rem 1rem;
   
    border:.2rem;
    margin-bottom: 20px;
    color: white;
    border-radius: 20px;
    transition: .6s ease;

}
.team-container .team-box:hover{
    transform: scale(1.03);
}
.team-img img{
   align-items: left;
   width: 150px;
   border-radius: 10px;
}

.team-box{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
    
}
.team-box h3,h4{
 margin-bottom: .5rem;
}
.team-box h3{
    color: #3ae9f2 ;
} */

/* portfolio*/
.portfolio{
    margin-bottom: 4rem;
    margin-top: 0.5rem;
}
.portfolio-box img{
    min-width: 315px;
    border-radius: 10px;
    height: 350px;
    width: 100%;
 }

 .portfolio-container .portfolio-box{
    flex: 1 1 30rem;
    /* background-color:#3f4245; */
    padding: 1rem 1rem 1rem;
   
    border:.2rem;
    margin-bottom: 20px;
    color: white;
    border-radius: 20px;
    transition: .6s ease;

}
.portfolio-container .portfolio-box:hover{
    transform: scale(1.03);
}



 .portfolio-container{

    /* padding: 0 20px 20px 20px ; */
   
    gap: 1.5rem;
    display: grid;
   grid-template-columns: repeat(3 , 1fr);
}

@media only screen and (max-width: 800px){
    .portfolio-container
    {
        grid-template-columns: 1fr;
        gap: 1.3rem;
        
    }
}





/* breaking mobile for */



@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width:991px){
    .header{
        padding: 1rem 3%;
    }
    section{
        padding: 1rem;
    }
    .services{
        padding: 1rem;
    }
    .footer{
        padding: 1rem ;
    }
}

@media(max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color:  #4486f2;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0.5rem 1rem rgba(0,0,0,.2);
        display: none;
        
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about img{
        width:70vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .services{
        flex-direction: column;
    }
    @media(max-width:450px){
        html{
            font-size: 50%;
        }
        .contact form .input-box input{
            width: 100%;
        }
    }
@media(max-width: 365px){
    .home-img img{
        width: 90vw;
    }
    .abpout-img img{
        width:90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

    
}


